<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243559439417-20beec3phsc3a5i6pc3jqqj5hpac0v3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243559439417-20beec3phsc3a5i6pc3jqqj5hpac0v3j</string>
	<key>API_KEY</key>
	<string>AIzaSyBN2fPJGMdImPmPfVi2A2QV9XTHJ_5X1h8</string>
	<key>GCM_SENDER_ID</key>
	<string>243559439417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.Trashold</string>
	<key>PROJECT_ID</key>
	<string>trashold-13ac7</string>
	<key>STORAGE_BUCKET</key>
	<string>trashold-13ac7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243559439417:ios:95361c354d762a62</string>
	<key>DATABASE_URL</key>
	<string>https://trashold-13ac7.firebaseio.com</string>
</dict>
</plist>